* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  color: white !important;
  font-weight: bold !important;
  padding: 8px !important;
  border-radius: 1rem !important;
  font-size: 12px !important;
}
